<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modbus Converter</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <a href="/psi">MilliAmp To PSI Converter</a>
    <h1>Modbus Converter</h1>
    <form method="POST">
        <input type="number" name="First Integer" step="any" required>
        <input type="number" name="Second Integer" step="any" required>
        <button type="submit">Submit</button>
    </form>
     {% if result1 is not none %}
        <h2>Result: {{ result1 }}</h2>
    {% endif %}
</body>
</html>

<!-- HTML !-->
<button class="button-29" role="button">Button 29</button>
