<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modbus Converter</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <a href="/psi" class="button-71">MilliAmp To PSI Converter</a>
    <h2>Modbus Converter</h2>
    <form method="POST">
        <label for="First">First Integer:</label>
        <div>
            <input type="number" id="First" name="First Integer" step="any" required>
        </div>        
        <label for="Second">Second Integer:</label>
        <div>
            <input type="number" id="Second" name="Second Integer" step="any" required>
        </div>
        <button type="submit">Submit</button>
    </form>
     {% if result1 is not none %}
        <h2>Result: {{ result1 }}</h2>
    {% endif %}
</body>
</html>


<!-- This is how to add a button to the HTML file. See the button class below for styling.
 You can add this button anywhere in the body of the HTML file.
<button class="button-71" role="button">Button 71</button>
-->
