<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modbus Converter</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <a href="/" class="button-71">Modbus Converter</a>
    <h2>MilliAmp To PSI Converter</h2>
     <form method="POST">
        <label for="Milliamp">MilliAmp Value:</label>
        <div>
            <input type="number" id="Milliamp" name="Milliamp Value" step="any" required>
        </div>
        <label for="Max">Max PSI Value:</label>
        <div>
            <input type="number" id="Max" name="Max psi value" step="any" required>
        </div>
        <label for="Min">Min PSI Value:</label>
        <div>
            <input type="number" id="Min" name="Min psi value" step="any" required>
        </div>
        <button type="submit">Submit</button>
    </form>
     {% if result2 is not none %}
        <h2>Result: {{ result2 }}</h2>
    {% endif %}
</body>
</html>