<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modbus Converter</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <a href="/" class="button-71">Modbus Converter</a>
    <h1>MilliAmp To PSI Converter</h1>
     <form method="POST">
        <input type="number" name="Milliamp Value" step="any" required>
        <input type="number" name="Max psi value" step="any" required>
        <input type="number" name="Min psi value" step="any" required>
        <button type="submit">Submit</button>
    </form>
     {% if result2 is not none %}
        <h2>Result: {{ result2 }}</h2>
    {% endif %}
</body>
</html>